
*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Black Ops One', cursive;
}
:root{
    --text--color:#400D07;
    --textsubt--color:#BF2615;
}

#main-header{
  background: #00000775;
  color:#000000;
  height: 80px;
  width: 100%; 
	left: 0; 
	top: 0; 
	position: fixed; 
}
#main-header a{
  color:rgb(245, 244, 244);
}
#main-header:hover {
  background: #000007;
}
#logo-header {
	float: left;
	padding: 15px 0 0 20px;
	text-decoration: none;
}

#logo-header .site-name {
  display: block;
  font-weight: 700;
  font-size: 1.2em;
  font-family: 'Black Ops One', cursive;
}

#logo-header .site-desc {
  display: block;
  font-weight: 300;
  font-size: 0.8em;
  color: #999;
}
nav {
	float: right;
}
	nav ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-right: 20px;
	}
	
		nav ul li {
			display: inline-block;
			line-height: 80px;
		}
			
			nav ul li a {
				padding: 10px 10px;
				text-decoration: none;
			}
			
				nav ul li a:hover {
					border-bottom: 4px solid #8f0e00;
				}
 
  .contenedorimg{

    position:static;
    display:inline-block;
    text-align: left;
  }

  .btn{
    font-size: 45px;
    color:rgb(243, 236, 202);
    font-family: 'Archivo Black', sans-serif;
    position: absolute;
    top: 100%;
    left: 2%;
  }
  .btn {
    
    color: #f1f1c7; 
    padding: 16px 20px;
    border-radius: 14px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
  }
  .btn:hover {
    color: rgb(221, 217, 193); 
  }
  .btn::after {
    content: "";
    background: #000000ab;
    border-radius: 14px;
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  .btn:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
  }
  #conteitemcarrusel{
    
    height: 400px;
    overflow: hidden;
  }
  .Carrusel{
    height: 100%;
    position: relative;
  }
  .tarjetacarrusel{
    background-color: #123bbe;
    height: 100%;
  }
  .flechacarrusel{
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
  }
#tarjetacarrusel-1{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/dwburnett-defendermack-dsc-4196-1610470496.jpg);
  background-size: cover;
}
#tarjetacarrusel-2{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/dwburnett-defendermack-dsc-4196-1610470496.jpg);
  background-size: cover;
}
#tarjetacarrusel-3{
  background-image: url(https://hips.hearstapps.com/hmg-prod/images/dwburnett-defendermack-dsc-4196-1610470496.jpg);
  background-size: cover;
}
a{
  text-decoration: none;
}
i{
  color:rgba(29, 28, 28, 0.938);
}
i:hover{
  border-bottom: 4px solid gray;
}
#im1{
  width:80%;
  height: 100%;
  padding-left: 20%;
}
#im2{
  width:80%;
  height: 100%;
  padding-left: 20%;
}
#im3{
  width:80%;
  height: 100%;
  padding-left: 20%;
}
.texto{
  background-color: rgba(241, 137, 0, 0.212);
}
h1{
  font-family: 'Archivo Black', sans-serif;
  text-align: center;
  display: block;
}
footer{
  text-align: center;
  background-color: #000000;
  height: 150px;
  width: 100%;
  color:rgb(167, 166, 166);
}
#ftmenu{
  display: flex;
  justify-content: space-between;
  width: 60%;
  padding-left:37%;
}
#ftmenu li{
  list-style: none;
}
.redes{
  width: 35px;
  height: 35px;
  list-style: none;
}
.redes:hover{
  background-color: rgba(255, 255, 255, 0.527);
}
.autos{
  background-color: #00000075;
  padding: 40px;
}
.ft3{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  padding: 5px;
}
.ft1{
  text-align: center;
  font-family: 'Archivo Black', sans-serif;
  color: white;
  font-size: 30px;
}
.ft2{
  text-align:end;
  font-family: 'Archivo Black', sans-serif;
  padding-right: 20px;
  padding-top: 80%px;
  font-size: 14px;
}
#autosh1{
  background-color: rgb(119, 118, 118);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center; 
}
#autosh2{
  background-color: rgb(119, 118, 118);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
}
#autosp{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#imgautos{
  width: 100%;
}
.pers{
  background-color: #3d070181;
  padding: 40px;
}
#perh1{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#f3f3e3;
  background-color: #310703;
}
#perh2{
  text-align: left;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#f3f3e3;
  background-color: #520b03;
}
#perp{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#f3f3e3;
  text-align: left;
  background-color: #2b0602;
}
#acc{
  width: 100%;
}
.descubre{
  padding: 40px;
  background-color: #eb9090;
}
#dh1{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#dh2{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
#pp{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.carrusel{
  animation: fadeIn 3s ease;
}
@keyframes fadeIn{
  0% { opacity:0;
  filter: blur(10px);}
  10%{opacity: 1;
      filter: brightness(2)blur(10px);}
}
.contactanos{
  background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,0.5494572829131652) 0%, rgba(253,29,29,0.49343487394957986) 50%, rgba(252,176,69,1) 100%);
}
